<config>

<world>
<simDurationDays>8000</simDurationDays>
</world>
<log>
<file>logfile.log</file>
<path>/home/fabian/logs</path>
<rewrite>y</rewrite>
<minLogLevel>1</minLogLevel>
</log>

<person>
<startPersonCount>10</startPersonCount>
<pregTimeMonths>9</pregTimeMonths>
<relLevel>2</relLevel>
<adultAgeYears>18</adultAgeYears>
<!-- Probability in % for male, else female -->
<maleProbability>30</maleProbability>
</person>

<time>
<startDate>08092003</startDate>
</time>

<map>
<worldLength>1000</worldLength>
<worldWidth>1000</worldWidth>
</map>


</config>