<config>

<log>
<file>logfile.log</file>
<path>~/logs</path>
</log>

<person>
<startPersonCount>100<startPersonCount>
<pregTimeMonths>9</pregTimeMonths>
<relLevel>2<relLevel>
<adultAgeYears>18<adultAgeYears>
</person>

<time>
<startDate>08092003</startDate>
</time>

<map>
<worldLength>1000</worldLength>
<worldWidth>1000</worldWidth>
</map>


</config>