<config>

<world>
<simDurationDays>25000</simDurationDays>
</world>
<log>
<file>logfile.log</file>
<path>/home/fabian/logs</path>
<rewrite>y</rewrite>
<minLogLevel>1</minLogLevel>
</log>

<person>
<startPersonCount>10</startPersonCount>
<pregTimeMonths>9</pregTimeMonths>
<relLevel>2</relLevel>
<adultAgeYears>1</adultAgeYears>
<minDyingAge>30</minDyingAge>
<maxDyingAge>80</maxDyingAge>
<!-- Probability in % for male, else female -->
<maleProbability>50</maleProbability>
<!-- Probability in % for murder, else no murder -->
<murderProbability>1</murderProbability>
</person>

<time>
<startDate>08092003</startDate>
</time>

<map>
<worldLength>500</worldLength>
<worldWidth>500</worldWidth>
</map>


</config>